h1 {
  margin: 1rem 0px;
  text-align: center;
}

.card-header {
  /* font-weight: bold; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  width: 200px;
}

.rating > div {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  /* justify-content: center; */
  align-items: center;
}

.card-header label {
  margin-bottom: 0px;
}

.card-body {
  background-color: white;
}

.card-text {
  color: #343a40;
}

.fa-edit {
  color: #343a40;
}

.card-bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i.fa-edit:hover {
  cursor: pointer;
}

.delete-checkbox {
  display: block;
  font-size: 0.8rem;
  color: #dc3545;
  text-align: right;
  padding: 0px 15px;
}

.list-group-item {
  display: list-item;
  border: none;
  margin-left: 1rem;
}
